$fondoPagina: #e9ecef;
$fondoDiv: #a9d6e5;

@mixin marginTop ($size) {
    margin-top: $size;
}

@mixin marginBottom ($size) {
    margin-bottom: $size;
}

@mixin fontSize ($size) {
    font-size: $size;
}
/*Espacios*/
.MT20{
    @include marginBottom(20px); //espacio arriba
}
.Mb20{
    @include marginTop(20px); //espacio abajo 
}

body{
    background: $fondoPagina;
}

/*Content*/
#div-main{
    width: 1200px;
    height: auto;
}

.grid-item{
    padding: 20px;
    font-size: 30px;
    text-align: center;

    img{
        padding: 3px;
        background-color: white;
        border: 1px solid #cccc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 5px 5px 5px black;
        z-index: -10000;
    }

 }