$fondoPagina: #e9ecef;
$fondoDiv: #a9d6e5;

@mixin marginTop ($size) {
    margin-top: $size;
}

@mixin marginBottom ($size) {
    margin-bottom: $size;
}

@mixin fontSize ($size) {
    font-size: $size;
}
/*Espacios*/
.MT20{
    @include marginBottom(20px); //espacio arriba
}
.Mb20{
    @include marginTop(20px); //espacio abajo 
}

body{
    background: $fondoPagina;
}

/*Contenido*/
.grid-container {
    display: grid;
    //grid-gap: 25px 25px;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  
  .grid-item {
    //background-color: #caf0f8;
    //border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    //border-radius: 8px;
    //box-shadow: 5px 5px 5px black;
        h2{
            @include marginTop(25px);
        }
  }