@mixin marginTop ($size) {
    margin-top: $size;
}

@mixin marginBottom ($size) {
    margin-bottom: $size;
}

@mixin fontSize ($size) {
    font-size: $size;
}

@media (max-width: 575.98px) { 
    /*body{background: red;}*/

    .grid-container {
        display: inherit;

        .grid-item{
            @include marginBottom(15px);
            img{
                width: 200px;
                height: 200px;
            }
        }
       
    }
   
 }

@media (min-width: 576px) and (max-width: 767.98px) { 
   /*body{background: green;}*/

   .grid-container {
        display: inherit;

        .grid-item{
            @include marginBottom(15px)
        }
       
    }

}

 @media (min-width: 768px) and (max-width: 991.98px) { 
   /*body{background: yellow;}*/

    .grid-container {
        display: inherit;

        .grid-item{
            @include marginBottom(15px)
        }
    
    }
    
 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
    /*body{background: blue;}*/

    .grid-container {
        display: grid;

        .grid-item{
            @include marginBottom(15px);
            img{
                width: 250px;
                height: 250px; 
            }
        }
    
    }
       
 }

/*@media (min-width: 1200px) { 
    body{background: blueviolet;}

 }*/